<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Process Weight Input</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Applicants Data</h1>
    <br>
    <strong>Name: </strong><%- name %><br>
    
    <strong>Height: </strong><%- feet %>' <%- inch %>"<br>

    <strong>Weight: </strong><%- weight %><br>

    <strong>Date: </strong><%- month %>/<%- day %>/<%- year %><br>

    <strong>Background Information:</strong><br>
    <%- background %>
    <hr>
    <a href="/">HOME</a>
</body>

</html>